*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.box-1{
    width: 300px;
    font-size: 50px;
    padding: 20px;
    margin-top: 50px;
    background-color: skyblue;
    text-align: center;
    border:5px solid chartreuse;
    margin: auto;

}

header {
    background-color: #333;
    text-align: center;
    color: rgba(255, 255, 255, 0.664);
}

header h1 {
    padding-bottom: 10px;
   padding-top: 25px;
  
}

header p{
    padding-top: 10px;
    padding-bottom: 20px;
}

nav ul {
  
    text-align: center;
    padding: 10px 10px;
    list-style: none;
 }

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    color:  white;
    padding: 5px 10px;
  
}

nav ul li a:hover{
   color: #555;
   background-color: white;
}

nav{
    background-color: #555;
}

.flex-container-1{
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    display: flex;
    
}

.flex-container-1 section{
    flex-grow: 1;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 10px;
  

}
.flex-container-1 section h1{
    padding: 10px 10px 10px 0px;
}

.flex-container-1 section p{
    padding: 10px 10px 10px 0px;
}

.flex-container-2{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-content: center;
    margin: 5px 5px 0px 10px;
    padding: 5px 5px 0px 5px;
}

.flex-container-2 aside{
    flex: 0 0 28%;
    background-color: #f0f0f0;
    margin-right: 5px;
    padding: 10px;
    
}

.flex-container-2 aside ul{
    padding-left: 40px;
    
}

.flex-container-2 aside h2{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.main_content{
    flex-grow: 1;
    
}

.flex-growth-1{
    margin: 0px 5px 10px 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.flex-growth-2{
    margin: 10px 5px 0px 10px;
    padding: 10px;

}

.flex-growth-1 h1{
    padding: 10px 10px 10px 0px;
}

.flex-growth-1 p{
    padding: 10px 10px 10px 0px;
}

.flex-growth-2 h1{
    padding: 10px 10px 10px 0px;
}

.flex-growth-2 p{
    padding: 10px 10px 10px 0px;
}

.flex-container-3{
   margin-bottom: 5px;
   padding-bottom: 10px;
}

.flex-container-3 section{
    padding: 10px 10px 10px 0px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.flex-container-3 section h1{
    padding: 10px 10px 10px 5px;
}

.flex-container-3 section p{
    padding: 10px 10px 10px 5px;
}

.flex-container-3 article{
    padding: 10px 10px 10px 0px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.flex-container-3 article h1{
    padding: 10px 10px 10px 5px;
}

.flex-container-3 article p{
    padding: 10px 10px 10px 5px;
}

.flex-container-4{
    background-color: #333;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 22px;
    color: white;;
}

.flex-container-4 p{
    padding: 5px;
    
}

.flex-container-4 p:last-child{
    padding: 10px;
}